body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.barUno{
	width: 60%;
}
.barDos{
	width: 40%;
}
.barTres{
	width: 20%;
}
.barCuatro{
	width: 80%;
}
.treinta{
    width: 35%;
}
.veinte{
	width: 20%;
}
.diez{
	width: 10%;
}